# general files to ignore

### Fortran ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#archives
*.tar
*.gz

#temporary files
*.swp
*~

#library symbolic links
lib/

#file unique to repository
CTM_LOG*
BLD*
*.log
*_bak
BLDMAKE*
CHEMMECH*
JPROC_*
ICON_*
BCON_*
UTIL/chemmech/input
UTIL/chemmech/output
UTIL/create_ebi/output
UTIL/create_ebi/input
UTIL/inline_phot_preproc/output
UTIL/inline_phot_preproc/input
UTIL/inline_phot_preproc/bldrun.log

#user specific scripts
/scripts/


#unique to user; below section unlikely to add and commit to repository
bldit_project.csh


